@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Lato&family=Mulish&display=swap");

body {
  margin: 0;
  padding: 0;
}

.nav {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  background-color: transparent;
  display: flex;
  justify-content: center;
  height: 4.5rem;
}

.nav__item{
    list-style-type: none;
}

button {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}